test.py
*.DS_Store
homework1/*
!homework1/*.py
!homework1/report.pdf
!homework1/report.tex
!homework1/ref.bib
homework2/*
!homework2/*.py
!homework2/report.pdf
!homework2/report.tex
!homework2/ref.bib